# How to set up environment variables?
# Option 1: Create .env file in current directory, just like this one.
# Option 2: Pass variables directly to build process: API_URL=.. PUBLIC_URL=.. yarn dev

# (optional for build step running locally, do not use in production)
# Analyze webpack bundle size with @next/bundle-analyzer.
#
# ANALYZE=true

# (required)
# URL for REST API.
#
API_URL=http://localhost:3001

# (optional for development, unused in production)
# Those will be used as credentials in login form.
# Use only in development.
#
# DEFAULT_USER_EMAIL=user@example.com
# DEFAULT_USER_PASSWORD=P@ssw0rd!
